enmar/
# Python
*.py[cod]
*$py.class
__pycache__/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
!/media/**
!/staticfiles/**

# Environments
.env
.venv
venv/
env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Virtualenv
venv/
env/
myenv/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

